Repository openintegrationhub/openintegrationhub, pull requests merged in 2020-10, with the labels that each got.

#1107 Remove start stop restriction
  services/flow-repository/app/api/controllers/startstop.js
  services/flow-repository/package.json
Labels: flow repository

#1110 Fix local component startup
  dev-tools/docker-compose/docker-compose.yml
  dev-tools/docker-compose/src/config.js
  lib/component-orchestrator/spec/ResourceCoordinator.spec.js
  lib/component-orchestrator/src/ComponentOrchestrator.js
  lib/secret-service/src/server/index.js
  services/component-orchestrator/README.md
Labels: component orchestrator

#1114 Removed the logging-service from the mono-repo
  services/logging-service/.eslintrc.js
  services/logging-service/.gitignore
  services/logging-service/.node-dev.json
  services/logging-service/.npmrc
  services/logging-service/Dockerfile
  services/logging-service/README.md
  services/logging-service/docs/swagger/openapi.json
  services/logging-service/k8s/config/configmap.yaml
  services/logging-service/k8s/deployment/deployment.yaml
  services/logging-service/k8s/deployment/service.yaml
  services/logging-service/package.json
  services/logging-service/src/app.ts
  services/logging-service/src/config/.gitignore
  services/logging-service/src/config/default.json
  services/logging-service/src/config/test.json
  services/logging-service/src/errors/api/ApiError.ts
  services/logging-service/src/errors/api/BadRequest.ts
  services/logging-service/src/errors/api/Conflict.ts
  services/logging-service/src/errors/api/Forbidden.ts
  services/logging-service/src/errors/api/NotFound.ts
  services/logging-service/src/errors/api/PayloadTooLarge.ts
  services/logging-service/src/errors/api/Unauthorized.ts
  services/logging-service/src/errors/api/UnsupportedMediaType.ts
  services/logging-service/src/healthcheckable.ts
  services/logging-service/src/index.ts
  services/logging-service/src/middleware/error-responder.ts
  services/logging-service/src/routes/healthcheck/controller.ts
  services/logging-service/src/routes/healthcheck/index.ts
  services/logging-service/src/routes/logs/controller.ts
  services/logging-service/src/routes/logs/index.ts
  services/logging-service/src/server.ts
  services/logging-service/src/spec/test.spec.ts
  services/logging-service/tsconfig.json
Labels: logging
